<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="traceSettings" type="Cinchoo.Core.Diagnostics.ChoTraceSettings, Cinchoo.Core, Version=1.1.1.9, Culture=neutral, PublicKeyToken=b7dacd80ff3e33de" />
  <section name="compilerParametersSettings" type="Cinchoo.Core.Compiler.ChoCompilerParametersSettings, Cinchoo.Core, Version=1.1.1.9, Culture=neutral, PublicKeyToken=b7dacd80ff3e33de" />
  <section name="consoleSettings" type="Cinchoo.Core.Shell.ChoConsoleSettings, Cinchoo.Core, Version=1.1.1.9, Culture=neutral, PublicKeyToken=b7dacd80ff3e33de" />
  <section name="commandLineParserSettings" type="Cinchoo.Core.Shell.ChoCommandLineParserSettings, Cinchoo.Core, Version=1.1.1.9, Culture=neutral, PublicKeyToken=b7dacd80ff3e33de" />
  <section name="appFrxSettings" type="Cinchoo.Core.ChoAppFrxSettings, Cinchoo.Core"/>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="ChoEazyCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<traceSettings indentProfiling="true" />
 <compilerParametersSettings generateExecutable="false" generateInMemory="true"
  includeDebugInformation="false" warningLevel="-1" refAssemblies=""
  excludeRefAssemblies="" namespaces="" />
 <consoleSettings foregroundColor="Gray" backgroundColor="Black"
  consoleMode="0" />
 <commandLineParserSettings ignoreCase="true" switchChars="/, -"
  valueSeparators=":, =" usageSwitches="?, h, help" fileArgSwitches="@"
  showUsageIfEmpty="false" displayDefaultValue="false" doNotShowHeader="false" />
 <appFrxSettings appEnvironment="" appFrxFilePath="" applicationHostType="" disableAppConfig="true" disableFrxConfig="true" disableMetaDataConfig="true"/>
	<system.diagnostics>
		<switches>
			<add name="ChoSwitch" value="0"/>
		</switches>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
 <userSettings>
  <ChoEazyCopy.Properties.Settings>
   <setting name="WindowTop" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="WindowLeft" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="RememberWindowSizeAndPosition" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScrollOutput" serializeAs="String">
    <value>False</value>
   </setting>
  </ChoEazyCopy.Properties.Settings>
 </userSettings>
</configuration>
